
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/InterfaceGUI">isPLC Internet of Things - Coded by RasHag</a>
            </li>
        </ul>
        <span class="ml-auto my-auto mr-2">
            <img src="/static/assets/img/faviconnonbg.png" style="width: 1.5rem; margin-bottom: .2rem;"><a href="https://www.facebook.com/YuMakers/">Makers Team</a>
        </span>
        <span class="copyright my-auto mr-2"> ©
            <a href="https://designrevision.com">DesignRevision</a>
        </span>
    </footer>
