{% extends "layouts/base-site.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load avatar_tags %}
{% block content %}
    {% if isUpdate %}
      {% include "user/SuccessUpdated.html"%}
    {% endif %}
    <div>
      {% if messages %}
      {% for message in messages %}
      <div style="border-radius:0;" {% if message.tags %}
        class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
        <i class="fa fa-check mx-2"></i>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
    </div>
      <div class="main-content-container container-fluid px-4">

        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
        
            </div>
          </div>
        </div>

        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">User Profile</h3>
          </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-small mb-4 pt-3">
              <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                  <div class="container">
                    {% avatar user 110 class="chavatarh Tooltip rounded-circle" alt="User Avatar" %}
                    <a href="#" class="chavatar" >
                      <div class="overlay rounded-circle" width="110" height="110">
                        
                          <i class="material-icons" style="color: rgb(0, 153, 255); font-size: 5.5rem;">edit</i>
                        
                      </div>
                    </a>
                  </div>
                </div>
                <a href="#" class="delavatar" >Delete avatar</a>
                <h4 class="mb-0">
                    {{ request.user.username }}
                </h4>
                <span class="text-muted d-block mb-2">
                    {{ request.user.email }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card card-small mb-4">
              <div class="card-header border-bottom">
                <h6 class="m-0">UserID: {{ request.user.id }} </h6>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                  <div class="row">
                    <div class="col">
                      <form role="form" method="post" action="">
                        {% csrf_token %} 
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="feEmailAddress">Email</label> 
                                {{ form.email }}
                                <!--<input class="form-control" id="feEmailAddress" placeholder="Email" value="{{ request.user.email }}"> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fePassword">Username </label>
                                
                                <input class="form-control" id="feUsername" placeholder="Username" value="{{ request.user.username }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-accent">Update Account</button>
                      </formmethod="post" action="">
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col">

                      <form method="post" id="post-form">
                        {% csrf_token %} 
                        <div class="form-row">
                          <div class="col-md-6">
                            <label for="fepasswd">Password</label> 
                            <input type="password" name="password" placeholder="Password" class="form-control" required="" id="password">
                            <!--<input class="form-control" id="feEmailAddress" placeholder="Email" value="{{ request.user.email }}"> -->
                          </div>
                          <div class="col-md-6">
                            <label for="feToken">App Token</label> 
                            <input class="form-control " id="feToken" placeholder="Token" value="">
                            <div class="valid-feedback">The App Token has been generated!</div>
                          </div>
                        </div>
                        <button type="button" class="post2 btn btn-info mt-1">Generate Token</button>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Default Light Table -->
    </div>


<style>
  .container {
    position: relative;
    width: 50%;
    max-width: 400px;
  }

  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }

  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255,255,255,0.5);
  }

  /* When you mouse over the container, fade in the overlay icon*/
  .container:hover .overlay {
    opacity: 1;
  }

  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
  }


</style>
<script>

  $(document).ready(function () {
    $(".chavatar").modalForm({
      formURL: "{% url 'avatar_change' %}"
    });
    $(".delavatar").modalForm({
      formURL: "{% url 'avatar_delete' %}"
    });
  });

  $(".post2").click(function(e){
    $.ajax({
        type:'POST',
        url:"/api-token-auth/",
        data:{
            username:$('#feUsername').val(),
            password:$('#password').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
          $("#feToken").val(json.token)
          $("#feToken").addClass("is-valid")
          
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
  });

  $(".alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
  });
</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
