{% extends "layouts/base-sitehomepage.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Messages -->
<div id="myAlert">

</div>
<!-- End Messages -->


<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  
  
  <!-- End Page Header -->
  <div class="row" >
    <img class="main-content col-lg-12 col-md-12 col-sm-12 p-0 " src="/static/assets/img/home.png">
    
  </div>
  
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}