{% extends "layouts/base-site.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Messages -->
<div id="myAlert">

</div>
<!-- End Messages -->


<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Dashboard</span>
      <h3 class="page-title"></h3>
    </div>
  </div>
  <div style="text-align: right;">
    <button type="button" class="reconnectbutton submit-btn mb-2 btn btn-sm btn-success mr-2"> <i class="ricon material-icons"
      style="font-size: x-large;">replay</i></button>
  </div>
  <!-- End Page Header -->
  <div class="row">
    
  </div>
  <ul id="sortable" class="row">
    {% for control in Controls%}
    {% with CK=forloop.counter0 %}
    {% if control.control_type == 1 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-large__label text-uppercase" style="font-size: 20px;">{{ control.Name }}</span>
              {%if control.Text == '-'%}
              <button type="button" id="Cbutton-{{ CK }}" class="my-3 btn btn-sm btn-primary mr-0"
                style="font-size: 20px; background-color: #007bff; border-color: #0066d3;"> Button </button>
              {% else %}
              <button type="button" id="Cbutton-{{ CK }}" class="my-3 btn btn-sm btn-primary mr-0 "
                style="font-size: 20px; background-color: #007bff; border-color: #0066d3;">{{ control.Text }} </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </li>
    {% elif control.control_type == 2 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-large__label text-uppercase" style="font-size: 20px;">{{ control.Name }}</span>
              {%if control.Text == '-'%}
              <div class="custom-control custom-toggle custom-toggle-lg mb-1 mt-2 ml-3">
                <input type="checkbox" id="customToggle{{ CK }}" name="customToggle{{ CK }}"
                  class="custom-control-input">
                <label class="custom-control-label ml-2" for="customToggle{{ CK }}"></label>
              </div>
              {% else %}
              <div class="custom-control custom-toggle custom-toggle-lg mb-1 mt-2">
                <input type="checkbox" id="customToggle{{ CK }}" name="customToggle{{ CK }}"
                  class="custom-control-input">
                <label class="custom-control-label ml-2" for="customToggle{{ CK }}">{{ control.Text }}</label>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </li>
    {% elif control.control_type == 4 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-large__label text-uppercase" style="font-size: 20px;">Indicator</span>
              <div class="rounded text-white text-center p-3" id="GL-{{ CK }}"
                style="box-shadow: inset 0 0 5px rgba(0,0,0,.2); width: 100%; margin-right: 6rem!important;">
                {{ control.Name }}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% elif control.control_type == 5 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-large__label text-uppercase" style="font-size: 20px;">Indicator</span>
              <div class="rounded text-white text-center p-3" id="YL-{{ CK }}"
                style="box-shadow: inset 0 0 5px rgba(0,0,0,.2); width: 100%; margin-right: 6rem!important;">
                {{ control.Name }}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% elif control.control_type == 6 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-large__label text-uppercase" style="font-size: 20px;">Indicator</span>
              <div class="rounded text-white text-center p-3" id="RL-{{ CK }}"
                style="box-shadow: inset 0 0 5px rgba(0,0,0,.2); width: 100%; margin-right: 6rem!important;">
                {{ control.Name }}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% elif control.control_type == 7 %}
    <li class="col-lg col-md-6 col-sm-6 mb-4 conindex" id="{{control.pk}}">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <p class="indexlable">{{control.index}}</p>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">{{ control.Name }}</span>
              <h6 class="stats-small__value count my-3" id="value-{{ CK }}">-------</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage pl-0">{{ control.Text }}</span>
            </div>
          </div>
          <canvas  height="120" class="canvas{{ CK }}"></canvas>
        </div>
      </div>
    </li>
    {% endif %}
    <!--
          {{ control.isPLC_ID }}
          {{ control.Contact_Type }}
          {{ control.Contact_ID }}
            -->






  {%endwith%}
  {% endfor %}



  </ul>
  <!-- Small Stats Blocks -->
  
</div>


<script>
  var btnList = {};
  var toggList = {};
  var GLList = {};
  var YLList = {};
  var RLList = {};
  var valueList = {};

  var ReadList = [];

  //{% for control in Controls%}
  //{% with CK=forloop.counter0 %}
    //{% if control.control_type == 1 %}
      
      $("#Cbutton-{{ CK }}").mousedown( function(e) {
        wsModule.sendmsg("SetSignalCoil","{{control.isPLC_ID}}","{{control.Contact_Type}}","{{control.Contact_ID}}","1");
        console.log("Cbutton-{{ CK }} is mousedown");
      });

      $("#Cbutton-{{ CK }}").mouseup(function(e){
        wsModule.sendmsg("SetSignalCoil","{{control.isPLC_ID}}","{{control.Contact_Type}}","{{control.Contact_ID}}","0");
      })

    //{% elif control.control_type == 2 %}
      var toggstatus{{ CK }};
      $("#customToggle{{ CK }}").change(function(e) {
        //$(this).prop("checked", false);
        if(this.checked) {
          
          wsModule.sendmsg("SetSignalCoil","{{control.isPLC_ID}}","{{control.Contact_Type}}","{{control.Contact_ID}}","1");
        }else{
          wsModule.sendmsg("SetSignalCoil","{{control.isPLC_ID}}","{{control.Contact_Type}}","{{control.Contact_ID}}","0");
        }
      });
      ReadList.push({"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"})
      toggList["customToggle{{ CK }}"] = {"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"}
      
      //toggList.push("customToggle{{ CK }}")

    //{% elif control.control_type == 4 %}
      ReadList.push({"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"})
      GLList["GL-{{ CK }}"] = {"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"}
      //GLList.push("GL-{{ CK }}")
    
    //{% elif control.control_type == 5 %}
      ReadList.push({"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"})
      YLList["YL-{{ CK }}"] = {"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"}

    //{% elif control.control_type == 6 %}
      ReadList.push({"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"})
      RLList["RL-{{ CK }}"] = {"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"}

    //{% elif control.control_type == 7 %}
      ReadList.push({"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"})
      valueList["value-{{ CK }}"] = {"isPLC_ID":"{{control.isPLC_ID}}","Type":"{{control.Contact_Type}}","Contact_ID":"{{control.Contact_ID}}"}

    //{% endif %}

  //{% endwith %}
  //{% endfor %}
  var wsModule = {}
  var isplc=[{X:{},Y:{},M:{},D:{}},{X:{},Y:{},M:{},D:{}},{X:{},Y:{},M:{},D:{}},{X:{},Y:{},M:{},D:{}},{X:{},Y:{},M:{},D:{}}]

  
  function UpdateView() {
//{% for control in Controls%}
  //{% with CK=forloop.counter0 %}
    //{% if control.control_type == 1 %}
    
    //{% elif control.control_type == 2 %}
      //{{control.isPLC_ID}}  {{control.Contact_Type}}  {{control.Contact_ID}}  
      var typeee ;
      var typeid = {{control.Contact_Type}};
      if (typeid == 1){

        typeee = isplc[{{control.isPLC_ID}}-1].X;

      }else if (typeid == 2){

        typeee = isplc[{{control.isPLC_ID}}-1].Y;

      }else if (typeid == 3){

        typeee = isplc[{{control.isPLC_ID}}-1].M;

      }else if (typeid == 4){

        typeee = isplc[{{control.isPLC_ID}}-1].D;

      }else{
        return
      };
     
      if (toggstatus{{ CK }} == typeee["{{control.Contact_ID}}"]){
        
      } else {
        toggstatus{{ CK }} = typeee["{{control.Contact_ID}}"];
        console.log(toggstatus{{ CK }});
        $("#customToggle{{ CK }}").prop("checked", typeee["{{control.Contact_ID}}"]);
      };
      
      

    //{% elif control.control_type == 4 %}
    
    //{% elif control.control_type == 5 %}

    //{% elif control.control_type == 6 %}

    //{% elif control.control_type == 7 %}

    //{% endif %}

  //{% endwith %}
  //{% endfor %}
  }

  $(document).ready(function () {
    console.log(btnList);
    console.log(toggList);
    console.log(GLList);
    console.log(YLList);
    console.log(RLList);
    console.log(valueList);
    console.log(ReadList);
    intiWebSocket();

  });
  $(".reconnectbutton").click( function( event ) {
    $(".ricon").rotate({angle:0,animateTo:-720 , duration:2000});
    intiWebSocket();
  });

  function showAlert(lable,msg){
      if($("#myAlert").find("div#myAlert2").length==0){
        var Adata = "<div style='border-radius:0;' class='alert alert-icon alert-"+ lable + " alert-dismissible fade show mb-0' role='alert' id='myAlert2'> <i class='fa fa-info mx-2'></i> "+ msg +" <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
        $("#myAlert").append(Adata);
      }
      $(".alert").fadeTo(4000, 500).slideUp(500, function(){
      $(".alert").slideUp(500);
      $(".alert").remove()
    })};

  function intiWebSocket() {
    $(".reconnectbutton").attr('disabled', true);

    
    var ClientSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/Client/View/{{User.id}}');

    ClientSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      //console.log(message + '\n');
      data = JSON.parse(message);
      message = data['From'];
      if (data['From'] = "device") {
      }else{
        return
      }
      
      for (var key in data['context']){
        //console.log(key);
        try {
          isplc[key-1].X = data['context'][key][0]
          isplc[key-1].Y = data['context'][key][1]
          isplc[key-1].M = data['context'][key][2]
          isplc[key-1].D = data['context'][key][3]
        } catch (error) {
          
        }
        
        
      };
      
      //console.log(isplc);
      UpdateView();

    };

    ClientSocket.onopen = function(e){
      $(".reconnectbutton").attr('disabled', false);
      showAlert('success','Successfully connected to the server!');
      wsModule.sendJson2Ws({"mode":"SetRead","Context":ReadList});
    };

    ClientSocket.onclose = function(e) {
      $(".reconnectbutton").attr('disabled', false);
      showAlert('warning','Client socket closed unexpectedly');
      console.error('Client socket closed unexpectedly');
    };
    /*
    Did: isplc id
    Type: ReadCoil, ReadRegister, SetSignalCoil, SetSignalRegister
    Coid : Coil, Register
    start: StartPoint, Point, Register 
    Range: Range, Status, Data
    */

    var csend = function sendJson2Ws(text){
      ClientSocket.send(JSON.stringify(text))
    }

    var send = function sendmsg(type,Did,Coid,start,Range){
      ClientSocket.send(JSON.stringify({"mode":"Wire","Context":{
            "type":type,
            'deviceid':Did,
            'coid':Coid,
            'start':start,
            'Range':Range
        }}
      ))
    }
    wsModule.sendmsg = send;
    wsModule.sendJson2Ws = csend;
  };
</script>



<style>
  .col-lg {
    list-style: none;
    float:left;
    padding: initial;
  }
  .ui-state-highlight{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .stats-small {
    width: 17.5rem;
  }
  p.indexlable {
    position: absolute;
    border: #a4b0be78 solid 1px;
    border-radius: 3px;
    margin: 4px;
    padding: 0px 4px 0px 4px;
    color: #a4b0be78;
  }

  .update-button {
    position: relative;
    text-align: right;
    z-index: 10;
    margin: -14px 8px -14px -14px;
    float: right;
    border-radius: 100%;
    font-size: 17px;
    padding: 0px 5px 0px 6px;
  }

  .delete-button {
    position: relative;
    text-align: right;
    z-index: 10;
    margin: 15px 8px -14px -14px;
    float: right;
    border-radius: 100%;
    font-size: 17px;
    padding: 0px 5px 0px 6px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: 16px;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}